.app {
    padding: 2rem 1rem;
    height: 100vh;
  }

.header {
    margin: 1rem;
}

.toph1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin:auto;
    width: fit-content;
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}


h1 {
    font-size: 2.5rem;
    color: rgb(121, 60, 70);
}



input {
    appearance: none;
    outline: none;
    border: none;
    background: #EEE;
    width: 100%;
    max-width: 300px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

button, a {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    
    color: #797ead;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
    background-color: #eee;
    padding: 1rem;
    border-radius: 2rem;
}



img {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 2rem auto;
}